/*main setup*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  line-height: 1.5;
  font-weight: 300;
}


main {
  flex-grow: 1;
}

p {
  color: #000000;
}



/*Responsive Sidebar Styles*/
.user-img {
  width: 50px;
  border-radius: 100%;
  border: 1px solid white;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  background-color: #12171e;
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
  z-index: 100;
}

.sidebar.active {
  width: 250px;
}

.sidebar #btn {
  position: absolute;
  color: #fff;
  top: .4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar .top .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

.sidebar.active .top .logo {
  opacity: 1;
}

.top .logo i {
  font-size: 2rem;
  margin-right: 5px;
}

.user {
  display: flex;
  align-items: center;
  margin: 1rem 0
}

.user p {
  color: #fff;
  opacity: 1;
  margin-left: 1rem;
}

.bold {
  font-weight: 600;
}

.sidebar p {
  opacity: 0;
}

.sidebar.active p {
  opacity: 1;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 60px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 20px;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}

.sidebar ul li a:hover {
  background-color: #fff;
  color: #12171e;
}

.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.sidebar .nav-item {
  opacity: 0;
}

.sidebar.active .nav-item {
  opacity: 1;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 90px;
  top: 5px;
  box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 400%;
  text-align: center;
  border-radius: .6rem;
  padding: .4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 40;
  pointer-events: none;
  opacity: 0;
}

.sidebar ul li:hover .tooltip {
  opacity: 1;
}

.sidebar.active ul li .tooltip {
  display: none;
}




/* Home page Styles */
.page-content {
  position: relative;
  background-color: #ffffff;
  min-height: 100vh;
  top: 0;
  transition: all 0.5s ease;
  padding: 10px 10vw;
}

.page-content h1 {
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
}

/*Bade Icons*/
.badge-container {
  width: 73vw;
  height: 40vh;
  overflow: hidden;
  margin-left: 5%;
  margin-top: 3%;
}

.badges {
  display: flex;
  flex-wrap: wrap; 
  animation: scrollUp 15s linear infinite;  /* Scrolling speed */
  justify-content: space-between;
  
}

@keyframes scrollUp {
  0% {
    transform: translateY(60%); /* Start with badges below the visible area */
  }
  100% {
    transform: translateY(-100%); /* Scroll all the way up */
  }
}

.badge-item {
  margin: 10px; 
  text-align: center;
  height: 30%;
  width: 20%; 

}

.badges img {
  height: 100%;
  width: 100%; 
}

.resource-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none; /* Removes the bullet points */
  padding-left: 0; /* Removes the default indentation */
  gap: 10%;
}

.resource-card ul {
  display: flex;
  flex-direction: column;
  list-style-type: none; /* Removes the bullet points */
  padding-left: 0; /* Removes the default indentation */
}




/* About page styles */
.SocialIcons {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.socials {
  width: 40px; 
}

.social1 {
  width: 40px;
}

.officers {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 1fr 1fr 1fr 1fr */ 
  grid-gap: 10px; 
  justify-items: center; 
  margin-left: 16%;
  width: 70%;
}

.officer {
display: flex;
flex-direction: column;
align-items: center;
color: black;
font-weight: 400;
}


.officer img {
width: 80%;
}

.bold {
  font-weight: 700;
}




/* Events page styles */
.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#current-event {
  width: 100%;
  padding: 20px;
  background-color: #f1f1f1;
  margin-bottom: 30px;
}

#current-event-content {
  border: 2px solid #96b8dd;
  padding: 20px;
  background-color: #e7f3ff;
  width: 40%;
}

.eventimages {
  width: 90%;
}

.all-events {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 20px;
  width: 100%;
}

.event-card {
  border: 1px solid #000000;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 1px 2px 9px #000000;
  transition: transform 0.3s ease; 
}

.event-card:hover {
  transform: scale(1.1); 
}


/*Mobile Design*/
@media (max-width: 768px) {

/*Mobile Styles for Sidebar*/
.sidebar ul li:hover .tooltip {
  opacity: 0;
}

.sidebar {
  overflow-y: auto; /* Adds a scrollbar if the content overflows */
  max-height: 100vh; /* Keeps the sidebar within the viewport height */
}


/*Mobile Styles for Home page*/
.home-container {
  height: 95vh;
  padding-left: 15%;
  font-size: 0.7rem;
} 

.home-container h1 {
  font-size: 1rem;
} 

/*Bade Icons*/
.badge-container {
  display:flex;
  justify-content: center;
  width: 73vw;
  height: 40vh;
  margin: 0%;
}

.badges {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  animation: scrollUp 15s linear infinite;  /* Scrolling speed */
  width: 95%;
  height: 200%;
  justify-items: center;
  
}

.badge-item {
  margin: 0px; 
  text-align: center;
  height: 100%;
  width: 100%; 
}

.resource-card {
  height: 20%;
  margin-top: 4%;
}

.resource-card h3 {
  font-size: 0.7rem;
 }

 .resource-card li a{
  margin-bottom: 9% !important;
 }




/*Mobile Styles for About page*/
.about-container {
  padding-left: 15%;
  font-size: 0.7rem;
} 

.about-container h1 {
  font-size: 1rem;
} 

.SocialIcons {
  margin-top: 1%;
  margin-left: 33%;
}

.socials {
  width: 28px; 
}

.social1 {
  width: 28px;
}

.officers {
  grid-template-columns: repeat(2, 1fr); /* 1fr 1fr 1fr 1fr */ 
  grid-gap: 2px; 
  margin-left: 0%;
  width: 100%;
  justify-items: center;
}

.officer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-weight: 400;
}


.officer img {
  width: 50%;
}

.getintouch {
  margin-top: 4%;
}

.Eboard {
  margin-top: 4%;
}




/*Mobile Styles for Events page*/
.events-container {
  padding-left: 10%;
}

.all-events {
  grid-template-columns: repeat(1, 1fr); 
 /*Change to -----width: 90%;----- if issues with reshaping on certain devices*/
  justify-items: center;
  font-size: 0.9rem;
}

.event-card { /*Each event box*/
  width: 80%;
  font-size: 0.7rem;
}

.eventimages {  /*Each image inside event box*/
  width: 80%;
}

  
#current-event-content {  /*Specific image inside current event content*/
  width: 100%;
  font-size: 0.7rem;
}

#current-event {  /*All info inside current event content*/
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
}

.event-card:hover {
  transform: none; 
}

#current-event h2 {
  font-size: 0.9rem;
  text-align: left;
}

}

/*Mobile Design Specific for Home, About & Events pages on very tiny devices*/
@media (max-width: 395px) {
  .home-container {
    padding-left: 20%;
  }
  
  .events-container {
    padding-left: 15%;
  }

  .about-container {
    padding-left: 20%;
  } 

  .resource-card h3 {
    font-size: 0.6rem;
   }

   .event-card { 
    font-size: 0.6rem;
  }
   
}

